* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  width: 100%;
}

body {

  background-color: #020308;

  background-image:

    radial-gradient(circle at 25% 25%, rgba(0,255,170,0.25), transparent 40%),
    radial-gradient(circle at 75% 30%, rgba(0,255,200,0.15), transparent 45%),
    radial-gradient(circle at 60% 80%, rgba(0,255,150,0.12), transparent 40%),

    radial-gradient(circle at 40% 10%, rgba(120,80,255,0.18), transparent 50%),

    radial-gradient(white, rgba(255,255,255,0.2) 2px, transparent 3px),
    radial-gradient(white, rgba(255,255,255,0.15) 1px, transparent 2px);

  background-size:

    100% 100%,
    100% 100%,
    100% 100%,
    100% 100%,

    200px 200px,
    300px 300px;

  background-position:

    center,
    center,
    center,
    center,

    0 0,
    50px 50px;

  color: white;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {

  background: rgba(255,255,255,0.06);

  backdrop-filter: blur(20px);

  padding: 30px;

  border-radius: 20px;

  border: 1px solid rgba(255,255,255,0.12);

}
